.intro-page {
    height: 1507px !important;
    width: 100vw !important;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54.22px;
}

#logo-area {
    position: relative;
    top: 3px;
}

#logo-area img {
    width: 72px;
    position: relative;
    /* -webkit-transform: scale(1.2);
    transform: scale(1.2); */
}

#main-navigation {
    text-align: center;
}

#main-navigation li {
    display: inline-block;
    margin-right: 20px;
}

#location-area {
    display: flex;
}

.intro-pg {
    position: relative;
    width: 100%;
    top: 108px;
}

.intro-pg .text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.intro-pg .text-area p {
    color: #000000;
    font-size: 18px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 23px;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.intro-pg .text-area h1 {
    position: relative;
    left: -130px;
    color: #000000;
    font-size: 86px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -3.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.intro-pg .text-area h2 {
    position: relative;
    right: -70px;
    color: #000000;
    font-size: 86px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -3.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.contactbtn-area {
    position: absolute;
    top: 257px;
    left: 735px;
}

.contact-btn {
    display: inline-block;
    width: 220px;
    height: 50px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Helvetica', Arial, sans-serif;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #252424;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #fffdf8;
    background-image: none;
    border-color: #252424;
    color: #000000;
}

.img-area {
    position: relative;
    top: 447px;
    display: flex;
    justify-content: center;
}

.img-area img {
    position: relative;
    width: 360px;
    margin-left: 40px;
}

.img-area .desc {
    position: relative;
    top: 35px;
    width: 360px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.img-line {
    position: relative;
    top: 40px;
    width: 360px;
    margin-left: 40px;
    height: 1.409px;
    background-color: #b0b0b0;
    border-style: solid;
}

#about {
    height: 972px !important;
    width: 100vw !important;
    max-width: 100%;
}

#working {
    height: 1352px !important;
    width: 100vw !important;
    max-width: 100%;
}

#doing {
    height: 1169px !important;
    width: 100vw !important;
    max-width: 100%;
}

#why {
    height: 1310px !important;
    width: 100vw !important;
    max-width: 100%;
}

#contact {
    height: 1113px !important;
    width: 100vw !important;
    max-width: 100%;
}

.title {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 86px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 86px;
    font-weight: 400;
    border-style: solid;
}

.subheading {
    position: absolute;
    top: 140px;
    color: #868686;
    font-size: 16px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border-style: solid;
}

.work-info {
    position: absolute;
    top: 220px;
}

.work-info .num {
    transform-origin: center center;
    line-height: 95px;
    color: #000000;
    font-size: 86px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.work-info .num p {
    transform-origin: center center;
    line-height: 18px;
    color: #000000;
    font-size: 16px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.about-hr {
    width: 1205.36px;
    position: relative;
    top: 220px;
    margin-left: 668px;
    height: 1.586px;
    background-color: #b0b0b0;
    border-style: solid;
}

.work-info-desc {
    margin-top: 265px;
    width: 1205.36px;
    height: 200px;
    margin-left: 668px;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 562.68px 562.68px;
    gap: 40px;
}

.work-info-desc .txt:nth-child(3) {
    grid-column: 2/4;
}

.work-info-desc .txt {
    color: #000000;
    font-size: 18px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    line-height: 20px;
}

.working-info {
    position: absolute;
    justify-content: center;
    margin-top: 293px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 570.96px);
    gap: 40px;
}

.working-item:nth-child(6) {
    grid-column: 1 / 2;
}

.doing-info {
    position: absolute;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    width: 1070px;
    left: 592px;
}

.working-item h3 {
    transform-origin: center center;
    line-height: 34px;
    color: #000000;
    font-size: 22px;
    font-family: 'Helvetica',Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.working-item p {
    margin-top: 66px;
}

.working-item .txt {
    margin-top: 18px;
    transform-origin: center center;
    line-height: 20px;
    color: #000000;
    font-size: 18px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

