.intro-page {
    height: 1507px !important;
    width: 100vw !important;
    max-width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#logo-area {
    position: relative;
    top: 3px;
}

#logo-area img {
    width: 72px;
    position: relative;
    /* -webkit-transform: scale(1.2);
    transform: scale(1.2); */
}


#main-navigation {
    text-align: center;
}

#main-navigation li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
}

#location-area {
    display: flex;
}

/* header */

/* intro-page */

.intro-pg {
    position: relative;
    width: 100%;
    top: 108px;
}

.text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.text-area p {
    color: #000000;
    font-size: 24px;
    line-height: 23px;
}

.text-area .ta_title{
    position: relative;
    color: #000000;
    font-size: 100px;
    line-height: 1.1;
    letter-spacing: -3.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.text-area .ta_title.t1 {
    margin-left: -300px;
}

.text-area .ta_title.t2{
    margin-right: -300px;
}



.contactbtn-area {
    position: absolute;
    left: 45%;
    top: 150%;
    transform: translate(-50%, -50%);
}

.contact-btn {
    display: inline-block;
    width: 250px;
    height: 50px;
    color: #ffffff;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #252424;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #fffdf8;
    background-image: none;
    border-color: #252424;
    color: #000000;
}


/* intro-page */

/* img-area */

.img-area {
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
}

.img-area img {
    flex: 1;
    object-fit: cover;
    width: 100%;
    position: relative;
    width: 480px;
    margin-left: 40px;
}

.img-area .desc {
    position: relative;
    top: 35px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.img-line {
    position: relative;
    top: 40px;
    width: 480px;
    margin-left: 40px;
    height: 1.409px;
    background-color: #b0b0b0;
    border-style: solid;
}

/* img-area */



/* sect-title-area */

.sect-title-area {
    position: relative;
    width: 100%;
    top: 70px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 100px;
    line-height: 1;
}

.subheading {
    position: absolute;
    top: 70px;
    color: #868686;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
}

/* sect-title-area */

/* work-info */

.work-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.work-info .num {
    line-height: 1.1;
    font-weight: bold;
    color: #000000;
    font-size: 100px;
    margin: 35px 0;
}

.work-info .num p {
    color: #000000;
    font-size: 20px;
    line-height: 1.1;
}

/* work-info */


/* work-info-desc */

.work-info-desc {
    position: absolute;
    top: 25%;
    left: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sect-hr {
    position: absolute;
    width: 100%; 
    right: 0;
    height: 2px;
    background-color: #b0b0b0;
}

.work-info-desc .txt:nth-child(4) {
    grid-column: 2/4;
}

.work-info-desc .txt {
    color: #000000;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 20px;
}

/* work-info-desc */

/* working-info */

.working-info {
    position: absolute;
    top: 30%;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.working-item p {
    font-size: 20px;
}
.working-item hr {
    width: 100%;
    height: 2px;
    background-color: #b0b0b0;
}
.working-item h3 {
    font-size: 32px;
}
.working-item .txt {
    font-size: 22px;
}

.working-item:nth-child(6) {
    grid-column: 1 / 2;
}

.working-item .contact-btn {
    position: absolute; 
    bottom: 0; 
    right: 0; 
}

/* working-info */



/* doing-info */

.doing-info {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 60%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.doing-item hr {
    width: 100%;
    height: 2px;
    background-color: #b0b0b0;
}
.doing-item p { font-size: 20px;}
.doing-item h3 {font-size: 28px; width: 70%;}
.doing-item .contact-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* doing-info */


/* form */


#spread-scroll > h3 {
    /* color: #ffffff; */
    width: 45%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 600;
}



form {
    
    position: absolute;
    top: 231px;
    left: 50%;
    transform: translateX(-50%);
}

.form-control {
    position: relative;
    border: none;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0;
    outline: none;
    background-color: transparent!important;
}

.submit-btn {
    padding: 0px 15px;
    display: block;
    width: 400px;
    font-weight: 400;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #252424;
    border-radius: 30px;
    font-size: 12px;
    font-family: Helvetica;
    cursor: pointer;
    background-color: #ffffff;
}


/* form */

/* why-info */

.why-info {
    position: absolute;
    width: 100%;
    top: 30%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.why-info hr {
    width: 100%;
    height: 2px;
    background-color: #b0b0b0;
}

.why-item p { font-size: 20px;}
.why-item h3 {font-size: 28px; width: 70%;}

.why-info .why-item:nth-child(4) {
    grid-column: span 2;
}

/* why-info */


#contact > form {
    top: 462px;
}
