
body {
    background-color: #fffdf8;
    /* overflow-x: hidden; */
}

/* #wrap {
    margin-left: 20px;
    margin-right: 20px;
} */

/* #about, #working, #doing, #why, #contact, #spread-scroll, #image-scroll  {
    position: relative;
} */

/* section id */

/* #about {
    height: 972px !important;
    width: 100vw !important;
    max-width: 100%;
}

#working {
    height: 1352px !important;
    width: 100vw !important;
    max-width: 100%;
}

#doing {
    height: 1169px !important;
    width: 100vw !important;
    max-width: 100%;
}

#why {
    height: 1310px !important;
    width: 100vw !important;
    max-width: 100%;
}

#contact {
    height: 1113px !important;
    width: 100vw !important;
    max-width: 100%;
}

#spread-scroll {
    height: 958px !important;
    width: 100vw !important;
    max-width: 100%;
}

#image-scroll {
    height: 1120px !important;
    overflow-x: hidden;
} */

/* section id */