@import './fonts.css';
@import './reset.css';
@import './common.css';



/* header */

header {
    
    padding: 0 20px;
}

header .inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    
}

header .logo-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header .location-area {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

header .location-area .btn-menu{
    display: none;
}

.gnb {}
.gnb .nav-list{
    display: flex;
    gap: 40px;
}
.gnb .nav-list li {

}

.gnb .nav-list li a{}

footer {
    
    height: 464px !important;
    width: 100vw !important;
    max-width: 100%;
    background-color: #414141;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-area {
    margin-left: 20px;
    margin-right: 20px;
}

footer h1 {
    position: absolute;
    color: #fff;
    top: 132px;
}

.footer-area > hr {
    position: absolute;
    width: 98%;
    top: 194px;
    background-color: #fff;
    height: 1.409px;
    z-index: 5;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}