/* header */

#wrap {
    margin: 20px;
    background: #fffdf8;
}
/* group-introtxt */

.group-title {
    padding: 50px 0;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.title-area p {
    color: #000000;
    font-size: 24px;
    line-height: 1.3;
}

.title-area .ta_title{
    position: relative;
    color: #000000;
    font-size: 100px;
    line-height: 1.1;
    letter-spacing: -3.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    font-weight: 400;
}

.title-area .ta_title.t1 {
    margin-left: -300px;
}

.title-area .ta_title.t2{
    margin-right: -300px;
}



.button-box {
    text-align: center;
    padding: 50px 0;
}

.button {
    display: inline-block;
    width: 250px;
    height: 50px;
    color: #ffffff;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #252424;
    text-decoration: none;
    z-index: 15;
}

.button:hover {
    background-color: #fffdf8;
    background-image: none;
    border-color: #252424;
    color: #000000;
}


/* group-introtxt */

/* img-area */

.img-area {
    display: flex;
    gap: 50px;
    margin: 40px;
}

.img-area .img {
    flex: 1;
}

.img-area .txt-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 2px solid #b0b0b0;
}





.sc-about .group-title{
    display: flex;
    align-items: end;
}
.sc-about .group-title .title{
    flex: 1;
    font-size: 86px;
}
.subheading{
    font-size: 16px;
    width: 35%;
    text-align: left;
    letter-spacing: 2px;
    color: #868686;
}





/* img-area */


.sc-about .group-flex{
    display: flex;
}
.sc-about .work-info {
    width: 35%;
}

.sc-about .work-info .txt-box .num {
    line-height: 95px;
    font-size: 86px;
}



.sc-about .work-info-desc{
    padding: 20px 0;
    border-top: 2px solid #b0b0b0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    flex: 1;
    gap: 30px;
}
.sc-about .work-info-desc .txt{
    font-size: 22px;
}
.sc-about .work-info-desc .txt:last-child{
    grid-column: 2/3;
}



.image-scroll{
    position: relative;
    height: 500vh;
}
.image-scroll .sticky{
    display: flex;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
}
.image-scroll .image-wrapper{
    display: flex;
    gap: 30px;
}

.image-scroll .image-wrapper .img-box{
    width: 30vw;
    flex-shrink: 0;
}






.working-info {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.working-item {
    margin-bottom: 66px;
}

.working-item p {
    font-size: 24px;
}

.working-item .num {
    border-bottom: 2px solid #b0b0b0;
    padding: 10px 0;
}
.working-item .desc {
    padding: 20px 0 10px 0;
    font-weight: bold;
}
.working-item .txt {
    font-size: 22px;
}

.working-item:nth-child(5) {
    grid-column: span 2;
}

.working-item:nth-child(6) {
    grid-column: 1 / 2;
}

.sc-showcase1 {
    height: 300vh;
}

.sc-showcase1 .skicky {
    position: relative;
    height: 400vh;
}

.sc-showcase1 .img-box {
    height: 100vh;
    position: sticky;
    top: 0;
}

.sc-showcase1 .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scorll-img-area {
    width: 100%;
    height: 100%;
}

.scorll-img-area .bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: #888;
    overflow: hidden;
}
.scorll-img-area .bg .img{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.scorll-img-area .bg .img img{
    width: 100%;
}

/* working-info */



/* doing-info */

.sc-doing {
    position: relative;
    background: #fff;
}

.sc-doing .doing-info {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    justify-content: center;
    width: 35%;
    justify-content: flex-end;
    gap: 30px;
}

.doing-item p { 
    font-size: 20px; 
    margin-top: 10px;
    font-weight: 400;
}

.doing-item .num {
    border-top: 2px solid #b0b0b0;

}




/* doing-info */


/* form */

.sc-spread-scroll {
    background: #888;
    position: relative;
    text-align: center;
    padding: 150px 0;
}

.sc-spread-scroll .bg {
    position: absolute;
    height: 100%;
    width: 25%;
    top: 0;
    background: #fff;
}

.sc-spread-scroll .bg.left {
    left: 0;
}

.sc-spread-scroll .bg.right {
    right: 0;
}


.form-control {
    position: relative;
    border: none;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 0;
    outline: none;
    background-color: transparent!important;
}

.submit-btn {
    padding: 0px 15px;
    display: block;
    width: 400px;
    font-weight: 400;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #252424;
    border-radius: 30px;
    font-size: 12px;
    font-family: Helvetica;
    cursor: pointer;
    background-color: #ffffff;
}


/* form */

/* why-info */

.sc-why {
    position: relative;
    background: #fff;
}

.why-item {
    margin-bottom: 66px;
}

.why-info {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.why-info .why-item .num {
    border-top: 2px solid #b0b0b0;
    padding: 10px 0;
}

.why-info .why-item .desc {
    font-weight: bold;
    padding: 20px 0;
}

.why-item p { font-size: 24px;}

.why-info .why-item:nth-child(4) {
    grid-column: span 2;
}

/* why-info */


.sc-contact > form {
    top: 462px;
}


.sc-showcase2 {
    position: relative;
}

.sc-showcase2 .title-area {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #ccc;
}

.sc-showcase2 .motion-area {
    position: relative;
}

.sc-showcase2 .motion-img {
    display: flex;
    padding: 50px 0;
}

.sc-showcase2 .motion-img img {
    width: 100%;
}

.sc-showcase2 .motion-img.img1 {}

.sc-showcase2 .motion-img.img2 {
    justify-content: flex-end;
}

.sc-showcase2 .motion-img.img3 {}

.sc-showcase2 .motion-img.img4 {}

.sc-showcase2 .motion-img.img5 {}

.sc-showcase2 .motion-img.img6 {}

.sc-showcase2 .motion-img.img7 {}

.sc-showcase2 .motion-img.img8 {
    justify-content: center;
}

.sc-showcase2 .motion-img.img2 img {
    width: 30vw;
}

.sc-showcase2 .motion-img.img1 img {
    width: 45vw;
}

.sc-showcase2 .motion-img.img3 img {
    width: 30vw;
}

.sc-showcase2 .motion-img.img4 img {
    width: 45vw;
}

.sc-showcase2 .motion-img.img5 img {
    width: 25vw;
}

.sc-showcase2 .motion-img.img6 img {
    width: 45vw;
}

.sc-showcase2 .motion-img.img7 img {
    width: 25vw;
}

.sc-showcase2 .motion-img.img8 img {
    width: 45vw;
    object-fit: cover;
}



/*위에 있는소스는  1331PX 까지 잡혔어야함 */


/* 미디어 쿼리  */
/* 1330px ~ 1025px */
@media (max-width:1330px) {
    
}
/* 1024px ~ 768px */
@media (max-width:1024px) {
    
}
/* 767px~320px */
@media (max-width:767px) {
    
}